
.App {
    /* padding: 0.5rem 3.5rem; */
    /* color: var(--black);
    background: rgb(226, 217, 217); */
    height: 100hv;
    
    margin-right: 0%;
    padding-right: 0%;
    
  }
.repo {
    display:flex;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
.repo2 {
    display:flex;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 30px;
}


.lineChart {
    
   
    padding-right: 30px;
    
}

.pieChart {
    
    margin-top: 60px;
    padding-left: 10%;
   
}

.table{
    padding-left: 70px;
    margin-bottom: 10%;
}