/* 
.App {
    padding: 0.5rem 3.5rem; 
    color: var(--black);
    background: rgb(226, 217, 217); 
    height: 100hv;
    
    margin-right: 0%;
    padding-right: 0%;
    
  }
.repo {
    display:flex;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.repo2 {
    display:flex;
    margin-top: 10%;
    margin-left: 60px;
    margin-right: 60px;
}


.lineChart {
    
   
    padding-right: 30px;
    
}

.pieChart {
    
    margin-top: 60px;
   
}

.table{
    padding-right: 40px;
    margin-bottom: 10%;
} */